{% extends 'layout.html' %}
{% block content %}

  <form class="form-signin">
    {{form.hidden_tag()}}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div>
      {{ form.email.label(class="sr-only") }}
      {{ form.email(class="form-control is-invalid" )}}
    </div>
    <div>
      {{ form.password.label(class="sr-only") }}
      {{ form.password(class="form-control")}}
    </div>
    <div>
      {{ form.submit(class="btn btn-lg btn-primary btn-block")}}
    </div>
  </form>

{% endblock content %}